services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile.dev
    container_name: reci-toku-api
    ports:
      - '3001:3000'
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/api/node_modules
    environment:
      NODE_ENV: development
      DATABASE_HOST: ${DATABASE_HOST:-mamari-mysql}
      DATABASE_PORT: ${DATABASE_PORT:-3306}
      DATABASE_USER: ${DATABASE_USER:-root}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME:-mamariq}
      REDIS_HOST: ${REDIS_HOST:-local-mamari-redis}
      REDIS_PORT: ${REDIS_PORT:-6379}

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile.dev
    container_name: reci-toku-web
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/web/node_modules
    environment:
      NODE_ENV: development
      VITE_API_URL: http://localhost:3001
    depends_on:
      - api

networks:
  default:
    external: true
    name: mamari_link
